<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Drop box Login Test">
      
      <parameter name="email" value="prabhudutta.mallik665@gmail.com"/>
      <parameter name="password" value="Prabhu@123"/>
      
      
    <classes>
      <class name=".DemoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
